.welcomeContainer {
  border-bottom: 50px solid #febc02;
  padding: 20px 0 20px;
}
.welcomeContainer h2 {
  color: #febc02;
  font-size: 3em;
  line-height: 0.9;
}
.welcomeContainer p {
  font-size: 1.5em;
  padding: 10px 0 10px;
  font-family: "SourceSans";
}
@media only screen and (max-width: 900px) {
  .welcomeContainer {
    padding: 20px 10px 20px;
  }
}
