.heroBanner {
  width: 100vw;
  padding: 0;
  border-top: 20px solid #febc02;
  border-bottom: 20px solid #febc02;
}
.videoHeroContainer h1 {
  color: #febc02;
  font-size: 3em;
  line-height: 0.9;
}
.videoDiv {
  width: 100vw;
  height: auto;
}
