.popUpContainer {
  position: relative;
  display: block;
}
.popUp {
  position: absolute;
  top: 20px;
  bottom: 10px;
  left: 20px;
  right: 20px;
  height: 1500px;
  background-image: url(../../assets/background.jpg);
  background-color: #141413;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: solid 2px #febc02;
}
.popUpLogo {
  width: 30%;
  display: block;
  margin: 10px auto 20px;
}
.closeX {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
  font-family: "ProtestStrike";
  padding: 2px 10px 2px;
  line-height: 0;
  text-align: center;
  border-radius: 5px;
}
.closeX:hover {
  border: 2px white solid;
}
.gifPopUp {
  display: block;
  height: 400px;
  width: auto;
  margin: 0 auto 0;
}
.headerPopUp {
  text-align: center;
  color: #febc02;
  font-size: 4em;
}
.popYellowSection {
  background-color: #febc02;
  padding: 20px 20px 20px;
  text-align: center;
  color: black;
}
.popUpForm {
}
.popUpForm input {
  width: 70%;
  text-align: center;
  height: 30px;
  margin: 10px 0 10px;
  background-color: transparent;
  border: solid black 2px;
}
input:focus {
  outline: none;
}
::placeholder {
  color: black;
}
.subBtnPopUp {
  width: 70%;
  background-color: white;
  height: 30px;
  font-weight: 900;
}
.subBtnPopUp:hover {
  background-color: #febc02;
  filter: brightness(100%);
  border: 2px black solid;
  color: white;
}
.noThanks {
  text-decoration: underline;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 900px) {
  .gifPopUp {
    width: 100vw;
    height: auto;
  }
  .popUp {
    left: 0;
    right: 0;
    height: 850px;
  }
  .headerPopUp {
    font-size: 3em;
  }
  .popUpLogo {
    width: 50%;
  }
}
