/* Main Nav Styles */

.mobNav {
  display: none;
}
.deskNav {
  display: block;
}
/* Desktop Menu */

.deskTopContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  height: 150px;
}
.logoDesk {
  display: block;
  margin: 0px auto 0;
  max-height: 140px;
}
.menuLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 75px;
  text-align: center;
  font-size: 1.3em;
}
.menuLinks a:hover {
  color: #febc02;
}
.item1 {
}
.item2 {
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .mobNav {
    display: block;
  }
  .deskNav {
    display: none;
  }
}
/* Mobile Menu Styles */
.mobNavBar {
  padding: 10px 10px 0;
}
.mobHeaderContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  margin: 0 0 10px;
}

.mobHeaderBtn img {
  height: 25px;
  width: 50px;
}
.mobHeaderLogo {
  height: 100px;
  margin: 0 auto 0;
}

/* Menu */
.mobHeaderMenu {
  background-color: #febc02;
  color: black;
  margin: 0;
  position: absolute;
  left: 0;
  padding: 30px 0px 30px;
  width: 100%;
  text-align: center;
}
.mobHeaderMenu a {
  font-family: "ProtestStrike";
  display: block;

  font-size: 2em;
  color: black;
  color: white;
}
.mobHeaderMenu a:hover {
  color: white;
}
