@font-face {
  font-family: "DukesTS";
  src: local("DukesTS"),
    url(./assets/fonts/Tungsten-Semibold.otf) format("opentype");
}

@font-face {
  font-family: "Lian";
  src: local("Lian"), url(./assets/fonts/Lian.otf) format("opentype");
}

@font-face {
  font-family: "ArcherPro";
  src: local("ArcherPro"),
    url(./assets/fonts/ArcherPro-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "ArcherProIta";
  src: local("ArcherProIta"),
    url(./assets/fonts/ArcherPro-SemiboldIta.otf) format("opentype");
}
@font-face {
  font-family: "ProtestStrike";
  src: local("ProtestStrike"),
    url(./assets/fonts/ProtestStrike-Regular.ttf) format("truetype");
}
body {
  font-family: "ArcherPro";
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  filter: brightness(70%);
}
h1,
h2,
h3,
h4 {
  font-family: "ProtestStrike";
}
img {
  max-width: 100%;
}
a {
  font-family: "ArcherProIta";
  text-decoration: none;
  color: white;
}
