@font-face {
  font-family: "DukesTS";
  src: local("DukesTS"),
    url(./assets/fonts/Tungsten-Semibold.otf) format("opentype");
}

@font-face {
  font-family: "Lian";
  src: local("Lian"), url(./assets/fonts/Lian.otf) format("opentype");
}

@font-face {
  font-family: "ArcherPro";
  src: local("ArcherPro"),
    url(./assets/fonts/ArcherPro-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "ArcherProIta";
  src: local("ArcherProIta"),
    url(./assets/fonts/ArcherPro-SemiboldIta.otf) format("opentype");
}
img {
  max-width: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  font-family: "DukesTS";
  font-size: 3em;
}
